Debug/
Release/
.settings/
/**/.vscode/
/!.vscode/
/!.vscode/tasks.json
/!.vscode/launch.json
/!.vscode/extensions.json
/**/BIST/build/
/**/BIST/bist
/**/BIST/FLASH
/**/Gen/build/
/**/Gen/MESCsin_lut.c
/**/Gen/util_ntc
/**/Gen/util_sinlut
/**/vgcore.*
